h1,h2,h3,h4,h5,h6 {
    font-family: source sans pro, sans-serif;
    font-weight: 600;    
}

* {
    font-family: source sans pro, sans-serif;
    font-weight: 400;
}

.custom-navbar{
    .btn-primary.btn-right {
        background-color: white;
        background-image: url("/images/icon-right-arrow.svg");    
        &:active{
            background-color:white;
        }
    }

    .btn-primary.btn-left {
        background-color:white;
        background-image: url("/images/icon-left-arrow.svg");     
        &:active {
            background-color:white;
        }
    }
   
    #box-wrapper {
        
        margin:0;
        padding:0;
        list-style-type: none;
        display:flex;
        flex-direction: row;        
        overflow:auto;
        white-space:nowrap;
        scroll-behavior: smooth;
        li {
            display: block;     
            margin:0 0.8rem;
            padding:0;
            font-size: 14px;
            color:grey;
            &:hover{
                color:black;
                cursor: pointer;
            }
        }

        //Con esta clase hago que no aparezca es el scrollbar
            &::-webkit-scrollbar {
            width:0 !important;
            }
        
        //no requiero de los botones de la SB, se hicieron botones para manejar la función de JS
      //  &::-webkit-scrollbar-button:single-button {

      //  }
        //con esta clase hago que no aparezca el track de la scrollbar
        &::-webkit-scrollbar-track {
            display:none;
        }        
    }
}
