h1,h2,h3,h4,h5,h6 {
    font-family: source sans pro, sans-serif;
    font-weight: 600;    
}

* {
    font-family: source sans pro, sans-serif;
    font-weight: 400;
}

/*Declaración de Variables de colores*/
$darkest-grey: #1c1c1c;
$light-grey: #757575;
$super-light-grey:#D9D9D9;
$medium-green:#018F69;
$medium-dark-green:#004d38;
.darkest-grey-text{
    color: $darkest-grey;
}
.light-grey-text{
    color: $light-grey;
}
.super-light-grey-text{
    color: $super-light-grey;
}
.medium-green-text{
    color: $medium-green;
}
.medium-dark-green-text{
    color: $medium-dark-green;
}
.svg-fill-light-grey {
    fill: $light-grey;
}
/* Responsive Breakpoint  */
$breakpoint-mobil: 768px;

nav{
    max-height: 1000px;
    .nav-container1{        
        svg{
            margin-right: 20px;
            margin-left: 20px;
        }
        svg:hover{
            cursor: pointer;
            fill: $darkest-grey;
        }
    }
  
    .nav-container button {
        font-family: source sans pro, sans-serif;
        font-weight: 400;
        &:hover{
            color: #000000;    
        }
    }
  
    .btn:hover{
        background-color: white;
        color: #6c757d;
        border-color: #333333;
    }

    p{
        background-color: fuchsia;
        color:white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 10px;
        margin: 20px;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .signup:hover{
        cursor: pointer;
    }
    .nav-container2{
        .navul{
            width: 100%;
            
            .navli{
                text-transform: uppercase;
                font-size: 16px;
                color: rgba(0,0,0,.54);
            }
            .navli:hover{
                cursor: pointer;
                color: #212529;
            }
        }
        .navul::-webkit-scrollbar{
            background-color: white;
            height: 10px;
            display: flex;
            flex-direction: column;
            position: relative;
        }
        .navul::-webkit-scrollbar-button{
            display: none;
              background-color: white;
              border: 1px solid $light-grey;
              height: 100px;
              position: absolute;
              top: 50px;
        }
    }
}

// MENU SCROLLBAR
.custom-navbar{
    #left-arrow {
        background-color:transparent;
        background-image: url("/desafio-medium-final/images/icon-left-arrow.svg");
        width: 30px;
        height: 30px;
        &:active {
            background-color:transparent;
        }
    }

    #right-arrow {
        background-color: transparent;
        background-image: url("/desafio-medium-final/images/icon-right-arrow.svg");
        width: 30px;
        height: 30px;
        &:active{
            background-color:transparent;
        }
    }
   
    #box-wrapper {
        margin:0;
        padding:0;
        list-style-type: none;
        display:flex;
        align-items:center;
        overflow:auto;
        white-space:nowrap;
        scroll-behavior: smooth;
        li {
            display: block;    
            margin:0 0.7rem;
            padding:0;
            font-size: 14px;
            color:grey;
            &:hover{
                color:black;
                cursor: pointer;
            }
        }

        //Con esta clase hago que no aparezca es el scrollbar
            &::-webkit-scrollbar {
            width:0 !important;
            }
        
        //no requiero de los botones de la SB, se hicieron botones para manejar la función de JS
      //  &::-webkit-scrollbar-button:single-button {

      //  }
        //con esta clase hago que no aparezca el track de la scrollbar
        &::-webkit-scrollbar-track {
            display:none;
        }        
    }
}
